aiofiles
aiohttp
dnspython==2.1.0
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
ntgcalls==1.1.3
pillow
psutil
py-tgcalls==2.0.1
pykeyboard
pyrofork
python-dotenv
PyYAML
requests
speedtest-cli
spotipy
tgcrypto
yt-dlp==2023.10.13
asyncio
pyrogram
youtube-search
youtube-search-python
yt-dlp
numpy
Flask
gunicorn

